<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_azulao_sf"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_azulao_sf"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocShare"
        android:windowSoftInputMode="adjustPan|adjustResize"
        tools:targetApi="31" >
        <activity
            android:name=".DocumentActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.TelaUsuario"
            android:exported="false" />
        <activity
            android:name=".usuario.ConfiguracoesDeUsuario"
            android:exported="false" />
        <activity
            android:name=".metodos.CropImage"
            android:exported="false" />
        <activity
            android:name=".outros.VizualizarForm"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.docshare.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".formularios.FormOSManutencaoCorretiva"
            android:exported="false" />
        <activity
            android:name=".usuario.FormLogin"
            android:exported="false" />
        <activity
            android:name=".formularios.FormCadastro"
            android:exported="false" />
        <activity
            android:name=".outros.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>